{% extends '@Nik/layout.html.twig' %}
{% trans_default_domain 'nik' %}

{% block nik_body %}
   <div style="display: flex; alig-items: center; justify-content: center; height: 70%; width: 100%"><img src="{{ invitationRequest.qr }}" class="nik-qr"></div>
   <div style="display: flex; alig-items: center; justify-content: center; width: 100%"><a href="{{ invitationRequest.deeplink }}">{{ invitationRequest.invUUID }}</a></div>
   <br>
   <div style="font-weight: bold; text-align: center;">{{ 'message.scanQRorUseDeeplink' | trans({},'nik') }}</div>

   {% if ( ( invitation == null or ( invitation != null and invitation.status == 0 ) ) and invitationRequest.invUUID != null ) %}
      <script type='text/javascript'>
         setTimeout(() => {
            window.location.href="{{ absolute_url(path('amreu_nik_get_invitation', { 'inviId' : invitationRequest.invUUID })) }}"
         }, {{timeout}});
      </script>
   {% endif %}   
{% endblock nik_body %}
