{% extends 'base.html.twig' %}

{% block title %}{{'title.campaignIndex' | trans }}{% endblock %}

{% block body %}
   {% if not NikInternalLogin %}
      <div class="container-fluid d-flex flex-row justify-content-between p-1">
         <div id="span-erabiltzailea" class="ml-auto col-sm-auto d-block d-lg-none">
            {% include ("common/_loggedUser.html.twig") %}
         </div>
      </div>
   {% endif %}
   <div class="container-fluid" style="margin-top: 200px">
      <div id="content" class="col-lg-12 d-flex justify-content-center align-items-center">
         <div class="col-lg-auto d-flex flex-column gap-2">
            {% if canBuy %}   
               <div class="col-lg-12 col-md-2 mb-1">
                  <a href="{{ path('app_campaign_buy') }}" class="btn btn-primary btn-lg form-control">{{"btn.buy" | trans | capitalize}}</a>
               </div>
            {% endif %}
            {% if hasBought %}
               <div class="col-lg-12 col-md-2 mb-1">
                  <a href="{{ path('app_campaign_my_bonos') }}" class="btn btn-success btn-lg form-control">{{ "btn.show" | trans | capitalize }}</a>
               </div>
            {% endif %}
         </div>
      </div>
   </div>
{% endblock %}
