{% extends 'base.html.twig' %}

{% block title %}{{'title.bonosIndex' | trans }}{% endblock %}

{% block body %}
   {% if not NikInternalLogin %}
      <div class="container-fluid d-flex flex-row justify-content-between p-1">
         {% if not NikInternalLogin %}
            <div class="col-lg-auto col-md-auto mb-1">
               <a href="{{ path('app_campaign_buy') }}" class="btn btn-success btn-lg form-control">{{ "btn.back" | trans | capitalize }}</a>
            </div>
         {% endif %}

         <div id="span-erabiltzailea" class="ms-auto col-sm-auto d-block d-lg-none">
            {% include ("common/_loggedUser.html.twig") %}
         </div>
      </div>
   {% endif %}
   <div id="content" class="container-fluid row p-0 m-0">
      {% if myBonos.bonos | length > 0 %}
         {% for bono in myBonos.bonos %}
         <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-body p-3 m-2">
               <div id="campaignTitle" class="h3 text-center">
                  <b>
                     {% if app.locale == 'es' %}
                        {{ campaign.nombreEs }}
                     {% else %}
                        {{ campaign.nombreEu }}
                     {% endif %}
                  </b>
               </div>
               <div id="bonoType" class="text-center h4">{{ bono.nombreBono }}</div>
               <div id="logos" class="d-flex justify-content-between w-100">
                  <img src="{{ asset('build/images/logo-horizontala-beltza.png') }}" class="logo-beltza">
                  <img src="{{ bono.qrSrc }}" class="qr">
               </div>
               <div id="codigo" class="h4"><b>{{ 'label.codigo' | trans | upper }}:&nbsp;{{ bono.codigo }}</b></div>
               <div id="paga" class="h4">{{ 'label.paga' | trans | upper }}:&nbsp;{{ bono.paga }}&nbsp;EUR</div>
               <div id="gasta" class="h4">{{ 'label.gasta' | trans | upper }}:&nbsp;{{ bono.gasta }}&nbsp;EUR</div>
               <div id="caducidad" class="h4"><b>{{ 'label.fechaCaducidad' | trans | upper }}:&nbsp;{{ bono.fechaCaducidad | date ('Y-m-d H:i:s') }}</b></div>
            </div>
         </div>
         {% endfor %}
      {% else %}
         <div class="alert alert-warning">{{ 'message.youUsedAllYourBonos' | trans }}</div>
      {% endif %}
   </div>
{% endblock %}
