{% extends 'base.html.twig' %}

{% block title %}{{ 'title.authSelector' | trans }}{% endblock %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center flex-wrap">
        <div class="card card-rounded fixed-width-200px p-2 m-2 col-sm-12">
            <a href="{{ path('amreu_giltza_login') }}">
                <div class="fixed-height-100px d-flex justify-content-center"><img class="fixed-height-100px" src="{{ asset('build/images/giltza.png') }}" alt="Giltza"></div>
                <div class="card-body">
                    <h5 class="card-title text-center text-decoration-none text-muted text-reset">Giltza</h5>
                </div>
            </a>
        </div>
        <div class="card card-rounded fixed-width-200px p-2 m-2 col-sm-12">
            <a href="{{ path('amreu_nik_post_invitation') }}">
                <div class="fixed-height-100px d-flex justify-content-center"><img class="fixed-height-100px" src="{{ asset('build/images/nik.png') }}" alt="NIK Patrika Digitala"></div>
                <div class="card-body">
                    <h5 class="card-title text-center text-decoration-none text-muted text-reset">NIK</h5>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
